.icon_arrow_right_small {
  width: 15px;
  height: 26px;
}

.icon_down_select_checked {
  width: 20px;
  height: 12px;
}
.icon_view_state_empty{
  width:779px;
  height:625px;
}
.icon_location {
  width: 37px;
  height: 45px;
}

.icon_search {
  width: 48px;
  height: 48px;
}
.icon_close{
  width: 48px;
  height: 48px;
}
.icon_back_white{
  width: 31px;
  height: 53px;
}
.space-9 {
  width: 9px;
}
.space-12 {
  width: 12px;
}
.space-15 {
  width: 15px;
}

.space-30 {
  width: 30px;
}

.space-40 {
  width: 40px;
}

.primary-color {
  color: #82A2FE;
}

.light-color {
  color: #B7B7B7;
}

::-webkit-scrollbar {
  display: none;
}

.btn {
	outline: none;
	border:none;
  border-radius: 62px;
  width: 224px;
  font-size: 36px;
  color: #474747;
  text-align: center;
  background: #FFFFFF;
  height: 92px;
  display: inline-block;
  border: 1Px solid #EBEBEB;
  transition: all .3s;
	overflow:hidden;
  
  &-primary {
    color: #FFFFFF;
    background: #82A2FE;
    border: 1Px solid #82A2FE;
  }
  &-large {
    height: 120px;
    font-size: 44px;
  }
  &-rect {
    border-radius: 8px;
  }
  &-fluid {
    width: 100%;
  }
}


.page-title{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 168px;
    font-family: PingFangSC-Medium;
    font-size: 48px;
    line-height: 168px;
    text-align: center;
    z-index: 1;
    transition: background .3s;
    background-color: #FFFFFF;
    border-bottom: 1px solid #cdcdcd;
    .action{
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: 168px;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      padding: 0 36px;
      color: #282828;
      .action-btn{
        display: inline-flex;
        align-items: center;
      }
    }
    &.transparent{
      background-color: transparent;
      color: #FFFFFF;
      border-bottom: 1px solid transparent;
    }
    &.active{
      background: #82A2FE;
    };

    .action-drop{
      position: absolute;
      right: 30px;
      top: 160px;
      width: 258px;
      height: 330px;
      padding-top: 20px;
      background: url(./icon_drop_down_bg.png) no-repeat center top;
      background-size: cover;
      padding:20px 10px 0 10px;
      overflow: hidden;
      opacity: 0;
      transition: opacity .3s;
      .item{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 109px;
        padding: 0 20px;
        font-size: 32px;
        color: #9c9c9c;
        border-bottom: 1px solid #e0e0e0;
        background-color: #ffffff;
        &::after {
          display:none;
        }
      }
      &.active{
        opacity: 1
      }
    }
  }
