.icon_arrow_right_small {
  width: 15px;
  height: 26px;
}

.icon_down_select_checked {
  width: 20px;
  height: 12px;
}

.icon_location {
  width: 37px;
  height: 45px;
}

.icon_search {
  width: 48px;
  height: 48px;
}

.space-9 {
  width: 9px;
}

.space-15 {
  width: 15px;
}

.space-40 {
  width: 40px;
}

.primary-color {
  color: #82A2FE;
}

.light-color {
  color: #B7B7B7;
}

::-webkit-scrollbar {
  display: none;
}

.btn {
  border-radius: 62px;
  width: 224px;
  font-size: 36px;
  color: #474747;
  text-align: center;
  background: #FFFFFF;
  height: 92px;
  display: inline-block;
  border: 1Px solid #EBEBEB;
  transition: all .3s;
  outline: none;
  &-primary {
    color: #FFFFFF;
    background: #82A2FE;
    border: 1Px solid #82A2FE;
  }
  &-large {
    height: 120px;
    font-size: 44px;
  }
  &-rect {
    border-radius: 8px;
  }
  &-fluid {
    width: 100%;
  }
}


