
.icon_down_select_checked {
  width: 20px;
  height: 12px;
}
.icon_view_state_empty{
  width:779px;
  height:625px;
}

.icon_close{
  width: 48px;
  height: 48px;
}
.icon_back_white{
  width: 31px;
  height: 53px;
}
.space-9 {
  width: 9px;
}
.space-12 {
  width: 12px;
}
.space-15 {
  width: 15px;
}

.space-30 {
  width: 30px;
}

.space-40 {
  width: 40px;
}

.primary-color {
  color: #82A2FE;
}

.light-color {
  color: #B7B7B7;
}

.btn {
	outline: none;
	border:none;
  border-radius: 62px;
  width: 224px;
  font-size: 36px;
  color: #474747;
  text-align: center;
  background: #FFFFFF;
  height: 92px;
  line-height: 92px;
  display: inline-block;
  border: 1Px solid #EBEBEB;
  transition: all .3s;
	overflow:hidden;
  
  &-primary {
    color: #FFFFFF;
    background: #82A2FE;
    border: 1Px solid #82A2FE;
  }
  &-large {
    height: 120px;
    font-size: 44px;
    line-height: 120px;
  }
  &-rect {
    border-radius: 8px;
  }
  &-fluid {
    width: 100%;
  }
}

.fixed-top-action{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 168px;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  padding: 0 36px;
  color: #282828;
  .action-btn{
    display: inline-flex;
    align-items: center;
  }
  .action-drop{
    position: absolute;
    right: 30px;
    top: 160px;
    width: 258px;
    height: 330px;
    padding-top: 20px;
    background: url(./asserts/icon_drop_down_bg.png) no-repeat center top;
    background-size: cover;
    padding:20px 10px 0 10px;
    overflow: hidden;
    opacity: 0;
    transition: opacity .3s;
    .item{
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 109px;
      padding: 0 20px;
      font-size: 32px;
      color: #9c9c9c;
      border-bottom: 1px solid #e0e0e0;
      background-color: #ffffff;
      &::after {
        display:none;
      }
    }
    &.active{
      opacity: 1
    }
  }
}
    
