.job-card {
  margin-bottom: 13px;
  padding: 45px 50px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  .media {
    display: flex;
    .typeImgUrl {
      width: 150px;
      height: 150px;
      margin-right: 50px;
      overflow: hidden;
    }
  }
  .title {
    font-size: 44px;
    line-height: 62px;
    color: #434343;
    white-space: nowrap;
    width: 650px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 26px;
  }
  .content {
    font-size: 34px;
    color: #9599A2;
    display: inline-flex;
    align-items: center;
    padding-bottom: 25px;
  }
  .tag{
    background: #F2F6F7;
    padding: 5px 16px;
    font-size: 33px;
    color: #9599A2;
    display: inline-block;
    margin-right: 26px;
  }
}
